body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: background 1s ease-in-out;
}

.parallax-title {
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 4rem;
    color: white;
}

.arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    font-size: 3rem;
    color: white;
    animation: bounce 1s infinite alternate;
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(10px); }
}

.about {
    background: black;
    padding: 100px 20px;
    text-align: center;
    font-size: 1.5rem;
    color:white;
}

.main-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    background: linear-gradient(45deg, #ff6b6b, #ffbb6b);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.main-button:hover {
    background: linear-gradient(45deg, #ffbb6b, #ff6b6b);
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%) scale(1.1);
}
